/**{
    font: size 16px;
}*/

#head1{
    font-size:24px;
    color:rgb(113, 17, 168);/*RGB degerleri 3 ana rengin karisimiyla (Kirmizi, Yesil, Mavi) olustugu icin deger sayilari 0 ile 255 arasinda verilebilir.*/
    margin:10px auto;
    width:300px;
    padding:20px;
    border:3px solid red;
    box-sizing: border-box;/* box.sizing kullanmamiz ile borderin kendi icinde width genisligini ayarliyor. diger türlü genel capta degisiklik yapiyor. bu uygulama önemli. */
}
#head2{
    color:rgba(200,90,80,70);
    /*rgba bu sonundaki a (alpha) harfinin yerini tutan renk degil. opak yapiyor. rengi soluklastiriyor.*/
    margin-bottom:20px;
    margin-left:20px;
}
h3.description{

    color: #c71066;/* Hex Values dedigim rakam ve numara ile nokta renk atamasidir*/
    font-size:20px;
    border-width:1px 5px 1px 5px;/*üst sag alt sol(top right bottom left) kisaca yacak olursak (border-width: 1px 5px)*/
    border-style:solid;
    Border-color:red;

   
}
/*yukaridaki h3.descriptiondaq bulunan border özelligini söyle de kisaltabiliriz.*/
h3.description{

    border:2px dotted blue;/* ilki width sonra style, en son renk*/
    margin:10px 40px;/*yada sadece bottom kismi verilebilir mesela margin:0px 0px 10px 0px*/
    
}
p.description{
    margin:2vh 5vw; /* yüdelik olarak oranliyor. sayfa kücüldügünde de veya büyürse de oranlamasini yapiyor.*/
    font-size:24px;
    margin:2em;
    color:#c71066
     
   
}
h4.description{
    background-color:pink;
    border:3px solid blue;
    margin:5%;
    padding:20px;

}
.container{
    margin:auto;
    width:75%;
}
